
// FONTS

$roboto: 'Roboto', sans-serif;

//COLORS

$purple : #7477bf;

// BUTTONS
$toggle-enabled-bg: #86d993;
$toggle-enabled-color: #FFFFFF;
$toggle-enabled-tab-bg: #FFFFFF;

$toggle-disabled-bg: #de474e;
$toggle-disabled-color: #FFFFFF;
$toggle-disabled-tab-bg: #FFFFFF;