* {
    box-sizing: border-box;
  }
  

body{
  font-family: $roboto;
}

a{
  text-decoration: none;

}

h2{
  font-size:12px;
  margin: 15px;
}

  // GRID STYLE

#main-container {
  display: grid;
  grid-template-rows: 50px repeat(3, minmax(200px, auto)) auto repeat(4, minmax(200px, auto)) ;
  grid-template-columns: 60px 1fr;
  grid-template-areas: 
    "main-header main-header"
    "side-nav dashboard"
    "side-nav daily-trafic"
    "side-nav mobile-users"
    "side-nav social-stats"
    "side-nav new-members"
    "side-nav recent-activity"
    "side-nav message"
    "side-nav settings"
  ;
  @include mq{
    grid-template-rows: 50px repeat(2, minmax(200px, auto)) auto repeat(2, minmax(200px, 1fr)) ;
    grid-template-columns: 60px 1fr 1fr;
    grid-template-areas: 
    "main-header main-header main-header"
    "side-nav dashboard dashboard"
    "side-nav daily-trafic mobile-users"
    "side-nav social-stats social-stats"
    "side-nav new-members recent-activity"
    "side-nav message settings"
  ;
  }
}

#main-header{
  grid-area: main-header;
}

#side-nav{
  grid-area: side-nav;
  background-color: #4d4c72;
}

#dashboard{
  grid-area: dashboard;
 border-bottom: 1px solid lightgrey;
}

#daily-trafic{
  grid-area: daily-trafic;
  border-bottom: 1px solid lightgrey;
}

#mobile-users{
  grid-area: mobile-users;
  border-bottom: 1px solid lightgrey;
  @include mq{
    border-left: 1px solid lightgrey;
  }
}

#social-stats{
  grid-area: social-stats;
  border-bottom: 1px solid lightgrey;
}

#new-members{
  grid-area: new-members;
  border-bottom: 1px solid lightgrey;
}

#recent-activity{
  grid-area: recent-activity;
  border-bottom: 1px solid lightgrey;
  @include mq{
    border-left: 1px solid lightgrey;
  }
}

#message{
  grid-area: message;
  border-bottom: 1px solid lightgrey;
}

#settings{
  grid-area: settings;
  @include mq{
    border-left: 1px solid lightgrey;
  }
}


// MEMBERS GRIDS

.new-member {
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: 40px 1fr 60px;
  grid-template-areas: 
  "member-img member-name member-date"
  "member-img member-mail member-date";
  @include mq{
    grid-template-rows: 30px 30px;
    grid-template-columns: 60px auto 90px;
  }
}


// RECENT ACTIVITY

#activity {
  display: grid;
  grid-template-rows:30px 20px;
  grid-template-columns: 40px 1fr 20px;
  grid-template-areas: 
  "member-img member-msg arrow"
  "member-img member-time arrow";
  @include mq{
    grid-template-rows: 30px 30px;
    grid-template-columns: 60px 1fr 20px;
  }
}